@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";
@theme {

    --animate-scaleUp: scaleUp 1s ease-out;
    --animate-typing: typing 2s steps(30,end) forwards;
    --animate-removeCursor: removeCursor 0.7s forwards;
    --shadow-boardcard:rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    --shadow-gameboard:rgba(0, 0, 0, 0.24) 0px 3px 8px;
    --animate-flash: flash 2s ease-in forwards;


  @keyframes scaleUp {
    0%{
      transform: scale(0.9);
      opacity:0;
    }
    100%{
      transform: scale(1);
      opacity:1;
    }
  }

    @keyframes typing {
      from{
        width:0;
      }
      to{
        width: 100%;
      }
    }
    @keyframes removeCursor {
      0%{
        border-right-color:rgb(23,37,84);
      }
      95%{
        border-right-color:rgb(23,37,84);
      }
      100%{
        border-right-color:transparent;
      }
    }
    @keyframes flash{
      0%{
        background-color:rgb(0, 0, 0, 0.4);
      }
      100%{
        background-color:rgb(255,255,255);
      }
    }
    
}

#root{
  height:100%;
}
*{
  box-sizing: border-box;
}

body{
    font-family: "Poppins", serif;
}

